<head>
  <title>MIT License</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="The MIT License is a permissive free software license originating at the Massachusetts Institute of Technology. As a permissive license, it puts only very limited restriction on reuse and has, therefore, an excellent license compatibility.">
  <!--
  Welcome fellow open source developer. This project is here for you to
  link to if you're like me and keep forgetting to include the
  MIT-license.txt file.

  Fork this project and send a pull request on:

  https://github.com/remy/mit-license

  By adding a new JSON file to the users directory, it will yield an
  MIT License on a CNAME, for example:

  { "copyright": "Remy Sharp, https://remysharp.com" }

  Means visiting https://rem.mit-license.org/ shows "Remy Sharp" as the
  copyright holder. Namespaces will be on a first come first serve basis,
  and I'm open to folk joining the GitHub project.

  For more options see the README in the github hosted project.

  Hope you find this useful too!

  - @rem
-->
  <script>
    document.createElement('article');
    document.createElement('footer');
  </script>
  <link rel="stylesheet" href="/themes/<%= theme %>.css">
</head>
