@import url(http://fonts.googleapis.com/css?family=Lato:300);

html {
  font-size: 16px;
  background-color: #f7f7f7;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  color: #333;
}

article, footer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

article {
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  position: relative;
}

article p {
  text-align: left;
}

article p:first-of-type {
  text-align: center;
}

#gravatar {
  width: 70px;
  border: 5px solid #d9d9d9;
  border-radius: 5px;
  display:block;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 2px dashed #d9d9d9;
  margin: 0;
}

a {
    color: gray;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover, a:focus, a:active {
  color: black;
}

@media screen and (min-width: 960px) {
  #gravatar {
    position: absolute;
    top: 2em;
    left: 2em;
  }
  h1 {
    font-size: 2.5em;
  }
}